/* Css Boilerplate */
* {
  margin: 0;
  padding: 0;
}

/* Background */
.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  box-shadow: 0px 0px 20px 0px rgb(90, 83, 83);
  border-radius: 8px;
  width: 310px;
}

.card-img {
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.card-img img {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.card-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content .price {
  color: gray;
  font-size: 16px;
}

.price span {
  color: red;
  text-decoration: line-through;
}

.card-content .title {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.description span {
  font-weight: bold;
}

.class-details {
  border: 0.5px solid rgb(196, 196, 196);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.duration,
.time,
.type {
  text-align: center;
}

.type {
  border-left: 0.5px solid rgb(196, 196, 196);
  border-right: 0.5px solid rgb(196, 196, 196);
  padding: 0 15px;
}

.duration h4,
.type h4,
.time h4{
    font-weight: bold;
    font-size: 14px;
}

.duration p,
.type p,
.time p{
    font-size: 12px;
    color: gray;
}
